#user-game-list {
    display: flex;
    flex-direction: row;
}

.game-preview {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 0 0 0;
}

.cover-preview {
    width: 60%;
}
