<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game info</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/game-page.css">
    <script src="/js/get_game.js"></script>
</head>
<body>
    <header>
        <div class="header__title">
            <h2>gamevault</h2>
        </div>
        <nav>
            <a href="/search"><img src="/icons/search.svg" alt=""></a>
            <a href="/account"><img src="/icons/account.svg" alt=""></a>
        </nav>
    </header>
    <div class="main" id="main">

    </div>
</body>
</html>